 /*расположение текста*/
.message {
  display: flex;
  min-height: 100vh;
  padding: 20px;
}

/*стили для текста*/
.message p {
  font-weight: bold;
  font-size: 24px;
  color: #0a0a0a;
  text-align: center;
}