/* Мобильная версия */
@media (max-width: 768px) {  
  /* Footer */
  .page_footer {
    padding: 15px;
    text-align: center;
      margin-left: 50px;
  }
  .legal {
    margin-top: 10px;
  }
}
.page_footer {
  margin-left: 50px;
}
.copyright {
  font-weight: bold;
}
